<script src="js/jsEtjQueryPourForm.js" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></script>

<div class="container marketing">
	<div class="row">
		<div class="col-lg-2">
			<div class="text-center">
				<img src="images/form2.png" alt="HTML tutorial" width="102" height="102">
			</div>
		</div>
		<div class="col-lg-10 text-center">
			<h4>Nous mettons à votre disposition un outil pour vous aider à établir votre budget au jour ou au mois selon votre souhait.
				Il est facile à remplir. Inscrivez poste par poste vos revenus et vos dépenses.
				L'outil vous donnera le résultat de ce que vous gagnez et dépensez par mois.
				Vous saurez ainsi si vous pouvez épargner ou dépenser selon vos souhaits ou bien si vous devez revoir vos dépenses. </h4>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-6 text-center" style="color:blue">
			<p>Souhaitez-vous entrer un montant au jour ou au mois ?</p>
			<label class="radio-inline">
				<input type="radio" name="inlineRadioOptions" id="selectJour" value="option2"> Au jour
			</label>
			<label class="radio-inline">
				<input type="radio" name="inlineRadioOptions" id="selectMois" value="option2"> Au mois
			</label>
		</div>
	</div>

	<div class="row">

		<div class="col-md-6 col-md-offset-6 text-center" style="color:blue">
			<p>Mois en cours: <strong><?php echo budget::moisEnFr(date('m')) ." ".date('Y') ?></strong></p>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<img src="images/etablir.jpg" width="500" height="333">
		</div>

		<div class="col-lg-6">
			<div class="form-group" id="formJour">
				<form method="post" action="/budgetJourPost">
					<div class="col-lg-8 text-center" style="color:blue" class="form-group">
						<select class="form-control" name="idCatSelect">
							<?php foreach ($categories as $category){?>
								<?php if($category->id_categorie >=3){?>
									<optgroup label="<?php echo $category->nom ?>">
										<?php foreach ($category->getSousCategories() as $sousCategory){?>
											<option value="<?php echo $sousCategory->id_sous_categorie ?>"><?php echo $sousCategory->nom_ss_cat ?></option>
										<?php } ?>
									</optgroup>
								<?php } ?>
							<?php } ?>
						</select>
					</div>
					<div class="col-lg-4 text-center" style="color:blue" class="form-group">
						<input type="text" name="montantJour" class="form-control" placeholder="Montant €" />
					</div>
					<button type="submit" name="submit-day" class="btn btn-primary" value="1">Sauvegarder ma dépense</button>
				</form>
			</div>
			<div id="formMois">
				<?php foreach ($categories as $category) {?>
					<div class="well well-lg">
						<div class="text-center">
							<a href="#" id="toggler<?php echo $category->id_categorie ?>"><?php echo $category->nom ?></a>
						</div>
					</div>
					<div id="toggle<?php echo $category->id_categorie?>">
						<form method="post"> <!--Pour récupérer les données-->
							<table class="table">
								<?php foreach ($category->getSousCategories() as $sousCategory) {?>
									<tr>
										<td><?php echo $sousCategory->nom_ss_cat ?></td>
										<td width=50% style="text-align : right">
											<input style="text-align : right"
												   type="text" name="cat[<?php echo $category->id_categorie?>][<?php echo $sousCategory->id_sous_categorie ?>]"
												   value="<?php echo $sousCategory->getBudget(date("m"),date("Y"), $_SESSION['user'])->montant?>"/> €</td>
									</tr>
								<?php } ?>
							</table>
							<div class="text-center">
								<input class="btn btn-primary" type="submit" name="btn-init-categorie"
									   value="Sauvegarder mes <?php echo mb_strtolower($category->nom) ?>" />
							</div>
							<br>
						</form>
					</div>
				<?php } ?>
			</div>
			<div class="text-center">
				<a type="button" class="btn btn-info" href="/resultats">Voir mes résultats</a>
			</div>

			<?php if (isset($messages['error'])) { ?>
				<div id="snackbar" style="background-color:#DC4027;"><?php echo $messages['error'][0]?></div>
			<?php } elseif (isset($messages['success'])) { ?>
				<div id="snackbar"><?php echo $messages['success'][0]?></div>
			<?php } ?>
			<script>
				var x = document.getElementById("snackbar")
				if (x) {
					x.className = "show";
					setTimeout(function(){ x.className = x.className.replace("show", ""); }, 8000);
				}
			</script>
		</div>
	</div>
</div>

	<!--<div class="row">
		<br><br>
		<center>
			<h2>Suivez votre budget au jour le jour !</h2>
			<h3>Ajoutez un nouveau montant à votre budget du mois :</h3>
			<br/>
			<form method="post">

				<label for="nom">Nouveau montant : </label>
				<input type="text" name="montant" value="<?php if (isset($_POST['montant'])){echo $_POST['montant'];} ?>"/>
				</br><br/>
				<label for="pays">Ce montant correspond à : </label>
				<select name="sous-catégorie" value="<?php if (isset($_POST['sous-catégorie'])){echo $_POST['sous-catégorie'];} ?>">
					<optgroup label="Ressources">
						<option value="1" >Salaire, retraite</option>
						<option value="2">Primes/indenmintés de fin de mission</option>
						<option value="3">Aide au logement</option>
						<option value="4">Allocations diverses</option>
						<option value="5">Pension alimentaire</option>
						<option value="6">Autres aides</option>
					</optgroup>
					<optgroup label="Dépenses Fixes">
						<option value="7">Logement</option>
						<option value="8">Electricité</option>
						<option value="9">Gaz</option>
						<option value="10">Eau</option>
						<option value="11">Téléphone</option>
						<option value="12">Internet</option>
						<option value="13">Impot sur le revenu</option>
						<option value="14">Taxe d'habitation</option>
						<option value="15">Remboursement de crédit</option>
						<option value="16">Assurance</option>
						<option value="17">Garde d'enfant</option>
						<option value="18">Autre</option>
						<option value="19">Epargne</option>
					</optgroup>
					<optgroup label="Dépenses Courantes">
						<option value="20">Alimentation (courses, restaurant...)</option>
						<option value="21">Transport</option>
						<option value="22">Carburant</option>
						<option value="23">Sport et loisir</option>
						<option value="24">Santé</option>
						<option value="25">Alcool/Tabac</option>
					</optgroup>
					<optgroup label="Dépenses Occasionnelles">
						<option value="26">Habillement</option>
						<option value="27">Voyage</option>
						<option value="28">Equipement divers</option>
						<option value="29">Sorties/livre/vidéos/musique</option>
					</optgroup>
				</select>

				<input class="btn btn-primary" type="submit" name="btn-ajouter" value="Ajouter" />

			</form>
		</center>
		<br/>
	</div>-->