<div class="container marketing">

<div class="row">

		<div class="col-md-6 col-md-offset-3">

			<div class="panel panel-default">
			<div class="panel-heading" align="center"><B><font color="blue" size="4">Modifier mon mot de passe</font></B></div>
			<div class="panel-body">

				<form action="/change_password" method="post" autocomplete="off">


					<div class="">
						<label for="password_old">Mot de passe actuel</label>
						<div style="margin-bottom: 25px" class="input-group">
						<input type="password" name="password_old" id="password_old" class="form-control" required>
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						</div>
					</div>


					<div class="">
						<label for="password">Nouveau mot de passe</label>
						<div style="margin-bottom: 25px" class="input-group">
						<input type="password" name="password" id="password" class="form-control" required>
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						</div>
					</div>	

					<div class="">
						<label for="password">Confirmez Votre Nouveau mot de passe</label>
						<div style="margin-bottom: 25px" class="input-group">
						<input type="password" name="confirmPassword" id="password" class="form-control" required>
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						</div>
					</div>	
					
					
					<div class="form-actions">
						<button type="submit" class="btn btn-primary center-block">Modifier</button>
					</div>

					

				</form>
			</div>

		</div>
			
	</div>
<?php if (isset($messages["error"])) { ?>
		<div id="snackbar" style="background-color:#DC4027;"><?php echo $messages["error"][0]?></div>
		<?php } elseif (isset($messages['success'])) { ?>
		<div id="snackbar"><?php echo $messages['success'][0]?></div>
<?php } ?>
<script>
				var x = document.getElementById("snackbar")
				if (x) {
					x.className = "show";
					setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
				}
</script>
</div>