<div class="container marketing">
<div class="row">

		<div class="col-md-6 col-md-offset-3">

			<div class="panel panel-default">
			<div class="panel-heading" align="center"><B><font color="blue" size="4">Connexion</font></B></div>
			<div class="panel-body">

				<form action="/connexion" method="post" autocomplete="off">

					<img class="img-circle center-block" src="/images/login.jpg" alt="Generic placeholder image" width="140" height="140">

					<br>

					<div class="form-group">
						<label for="email">Email</label>
						<div style="margin-bottom: 25px" class="input-group">
						<input type="email" name="email" id="email" placeholder="toi@domaine.com" class="form-control" value="" required>
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						</div>
					</div>


					<div class="form-group">
						<label for="password">Mot de passe</label>
						<div style="margin-bottom: 25px" class="input-group">
						<input type="password" name="password" id="password" class="form-control" required>
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						</div>
					</div>	

					
					
					<div class="form-actions">
						<button type="submit" class="btn btn-primary center-block">Connexion</button>
					</div>
				</form>


		</div>

			
	</div>
</div>
		<?php if (isset($messages["error"])) { ?>
		<div id="snackbar" style="background-color:#DC4027;"><?php echo $messages["error"][0]?></div>
		<?php } elseif (isset($messages['success'])) { ?>
		<div id="snackbar"><?php echo $messages['success'][0]?></div>
		<?php } ?>

		<script>
				var x = document.getElementById("snackbar")
				if (x) {
					x.className = "show";
					setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
				}
		</script>
</div>
