 <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-2">
          <img class="img-circle" src="images/idea2.png" alt="Generic placeholder image" width="128" height="128">
        </div>
        <div class="col-lg-10 text-center">
		</br><br>
          <h4>Vous devez certainement le savoir, on gagne de l’argent en faisant des économies. Les manières d’y
            parvenir sont nombreuses, et vous pouvez faire des économies dans presque tous les domaines de dépenses. Voici quelques articles dévoilant
            les astuces utilisées par les meilleurs économes pour vous aider à mieux gérer votre budget en faisant des économies.</h4>
        </div>
      </div>
      <br><br>
      <div class="row text-center">
        <div class="col-lg-4">
          <br><br><br>
          <a href="https://www.gagnersonargent.fr/13-astuces-pour-mieux-gerer-son-budget-et-faire-des-economies">
            <img src="images/courses.jpg" class="img-responsive center-block" alt="Responsive image">
            <p style="color:#444444"><strong>13 astuces pour mieux gerer son budget et faire des economies</strong></p>
          </a>
        </div>
        <div class="col-lg-4">
          <br>
          <a href="http://www.grazia.fr/article/les-10-conseils-dune-coach-pour-mieux-gerer-mon-argent-635028">
            <img src="images/wallet.jpg" class="img-responsive center-block" alt="Responsive image">
            <p style="color:#444444"><strong>Les 10 conseils d’une coach pour mieux gérer mon argent</strong></p>
          </a>
        </div>
        <div class="col-lg-4">
          <a href="http://lesconseils.net/10-regles-dor-pour-mieux-gerer-son-budget-familial/">
            <img src="images/bf.jpg" class="img-responsive center-block" alt="Responsive image">
            <p style="color:#444444"><strong>10 règles d’or pour mieux gérer son budget familial</strong></p>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <br><br><br>
          <a href="http://www.comment-economiser.fr/astuces-economies-intelligentes.html">
            <img src="images/c.jpg" class="img-responsive center-block" alt="Responsive image">
            <p style="color:#444444"><strong>44 idées pour vous aider à économiser de l'argent facilement</strong></p>
          </a>
        </div>
        <div class="col-lg-4">
          <br>
          <a href="http://www.helpyapp.fr/comment-economiser-de-largent-au-quotidien-30-astuces-pour-reduire-vos-factures-denergies-de-transport-et-dalimentation/">
            <img src="images/energie.jpg" class="img-responsive center-block" alt="Responsive image">
            <p style="color:#444444"><strong>30 astuces pour réduire vos factures d'énergie, de transport et d'alimentation</strong></p>
          </a>
        </div>
        <div class="col-lg-4">
          <br><br><br>
          <a href="http://www.canalvie.com/famille/finances-personnelles/economiser-1.1572347">
            <img src="images/economiser.jpg" class="img-responsive center-block" alt="Responsive image">
            <p style="color:#444444"><strong>Économiser sans se priver</strong></p>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <br><br><br>
          <a href="http://www.canalvie.com/famille/vie-de-famille/consommation/je-depense-trop-comment-arreter-1.2103642">
            <img src="images/compulsif.jpg" class="img-responsive center-block" alt="Responsive image">
            <p style="color:#444444"><strong>Je dépense trop, comment arrêter?</strong></p>
          </a>
        </div>
        <div class="col-lg-4">
          <br><br>
          <a href="http://www.impots.gouv.fr/portal/dgi/public/popup?espId=1&typePage=cpr02&docOid=documentstandard_605">
            <img src="images/impots.jpg" class="img-responsive center-block" alt="Responsive image">
            <p style="color:#444444"><strong>Impôts : informations sur la mensualisation</strong></p>
          </a>
        </div>
        <div class="col-lg-4">
          <br><br><br><br>
          <a href="http://www.caf.fr/aides-et-services/s-informer-sur-les-aides">
            <img src="images/caf.jpg" class="img-responsive center-block" alt="Responsive image">
            <p style="color:#444444"><strong>Les aides de la CAF</strong></p>
          </a>
        </div>
      </div>
    </div><!-- /.row -->