<!-- FOOTER -->
<div class="container marketing">
    <nav class="navbar navbar-inverse navbar-static-bottom">
    <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
            <li class="navbar-brand"><img alt="Brand" src="/images/budget-management.png"></li>
            <li class="navbar-brand">&copy; 2016 ManageYourMoney</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-brand">ESIEA's project</li>
            <li class="navbar-brand">With Clara BRIDOUX - Alina VALNET - Audrine LAPIN</li>
        </ul>
    </div>
    </nav>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="/js/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/js/ie10-viewport-bug-workaround.js"></script>
</body>

<script>
$(document).ready(function() {
    $('#identicalForm').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            confirmPassword: {
                validators: {
                    identical: {
                        field: 'password',
                        message: 'The password and its confirm are not the same'
                    }
                }
            }
        }
    });
});
</script>
</html>