<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <!--NOTE IMPORTANTE !!! \..\public\ EST A RAJOUTER DEVANT LES bootstrap-3.3.7\... DANS LES HFREF
    SI TU VEUX UTILSER L'ADRESSE DU STYLE : http://localhost/Projet1/templates/index.phtml
    ET NON : http://localhost:8282/-->

    <link rel="icon" href="/images/budget-management2.png">

    <title>ManageYourMoney</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" type='text/css'>
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet" type='text/css'>
    <script src="/js/ie-emulation-modes-warning.js"></script>
    <link href="/css/carousel.css" rel="stylesheet" type='text/css'>
	<link href="/css/styleForm.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
</head>

<body>
<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed navbar-right" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" style="color: white">ManageYourMoney</a>
                </div>
                <div class="collapse navbar-collapse navbar-left" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a style="color: white" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Rubriques <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/objectif">Objectif</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/budget">Etablir mon budget</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/resultats">Mes résultats</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/conseils">Conseils</a></li>
                            </ul>  
                        </li>
                        </ul>
                </div>

                <?php if (isset($_SESSION['pseudo'])){ ?>
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                <li><a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><?php echo $_SESSION['pseudo']; ?><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/change_password">Changer mon mot de passe</a></li>
                    <li><a href="/deconnexion">Déconnexion</a></li>
                    <li><a href="/supression">Suprimer mon compte</a></li>
                </ul></li>

                <?php } else { ?>
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                <li><a href="/inscription">Inscription</a></li>
                <li><a href="/connexion">Connexion</a></li>
                </ul>
                </div>
                <?php } ?>        
                <!-- /.navbar-collapse -->

            </div>
        </nav>

    </div>
</div>