<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
		  <img class="first-slide" src="images/home.jpg" alt="First slide">
          <div class="container">
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
            <div class="carousel-caption">
              <div class="model1">
                <h1>Notre objectif</h1>
                <p>Répondre à votre besoin de budgéter</p>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="item 2">
          <img class="second-slide" src="images/budget.PNG" alt="Second slide">
          <div class="container">
            <div class="col-lg-6"></div>
            <div class="col-lg-4">
              <div class="carousel-caption">
                <div class="model2">
                  <h1 style="color: #444444">Etablissez votre budget!</h1>
                </div>
              </div>
            </div>
            <div class="col-lg-2"></div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="images/results.PNG" alt="Third slide">
          <div class="container">
              <div class="col-lg-4"></div>
              <div class="col-lg-4">
                <div class="carousel-caption">
                  <div class="model3">
                    <h2 style="color: #444444">Suivez votre budget au cours du temps</h2>
                  </div>
                </div>
              </div>
              <div class="col-lg-4"></div>
          </div>
        </div>
        <div class="item">
          <img class="fourth-slide" src="images/idea.jpg" alt="Fourth slide">
          <div class="container">
            <div class="carousel-caption">
              <div class="model4">
                <h1 style="#E6E6E6">Prenez les bons conseils !</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img class="image" src="images/but.png" alt="Generic placeholder image">
          <h2>Objectif</h2>
          <p><a class="btn btn-default" href="objectif" role="button">Lire &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="image" src="images/form2.png" alt="Generic placeholder image">
          <h2>Votre budget</h2>
          <p><a class="btn btn-default" href="budget" role="button">Tester</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="image" src="images/graph.png" alt="Generic placeholder image">
          <h2>Vos résultats</h2>
          <p><a class="btn btn-default" href="resultats" role="button">Voir</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <img class="image" src="images/idea2.png" alt="Generic placeholder image">
            <h2>Conseils</h2>
            <p><a class="btn btn-default" href="conseils" role="button">Lire &raquo;</a></p>
        </div>
      </div>
<?php if (isset($messages["error"])) { ?>
    <div id="snackbar" style="background-color:#DC4027;"><?php echo $messages["error"][0]?></div>
    <?php } elseif (isset($messages['success'])) { ?>
    <div id="snackbar"><?php echo $messages['success'][0]?></div>
<?php } ?>
<script>
        var x = document.getElementById("snackbar")
        if (x) {
          x.className = "show";
          setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
</script>
    
    </div><!-- /.container -->