<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">

		<div class="row">
			<div class="col-lg-6 text-center">
				<br><br><br>
				<h2><strong>Quelles raisons pourraient vous inciter à faire un budget ?</strong></h2>
				<br>
				<h4><ul style="list-style-type:none">
					<li>Des difficultés financières comme une perte d'emploi, une baisse de revenus ou un
						retard dans les paiements ?</li>
							<br>
				    <li>Des projets à réaliser comme l'achat d'une maison, un congé sans solde ou
						la naissance d'un enfant ?</li>
							<br>
					<li>Ou, tout simplement, le désir de mieux contrôler sa situation financière et de connaître
						où va son argent ?</li></ul></h4>
			</div>
			<div class="col-lg-6">
				<img src="images/reflechir.jpg" alt="Reflechir" width="600" height="399">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
			<img src="images/analyse.jpeg" alt="Analyse" width="400" height="266">
			</div>
			<div class="col-lg-8 text-center">
				<h2 style="color:rgb(0, 129, 255);"><strong>Quelles que soient les raisons, elles sont toutes valables!</strong></h2>
				<br>
				<h4><ul style="list-style-type:none">
							<li>Dans un premier temps, votre budget nous servira de miroir de vos
								habitudes. Ecrire vos dépenses sur une certaine période de temps
								vous permettra plus tard d'intervenir sur vos habitudes de consommation.
								Vous ne pouvez pas le faire judicieusement tant que vous ne
								connaissez pas où va votre argent.</li>
							<br>
							<li>Après un certain temps, il vous
								sera possible d'analyser l'ensemble de votre situation financière et de
								faire des modifications: diminution, augmentation de tel ou tel item.</li>
							<br></ul></h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 text-center">
				<h4>Vous l'avez donc compris: faire un budget est indispensable !
					<br><br>
					Alors, ne le conçevez pas trop vite comme un "mal nécessaire". Il ne s'agit pas forcément
					d'une période de restrictions où il faudra se
					"serrer la ceinture". Si c'est votre façon de voir, prenez garde car vous serez enclin à mettre de
					côté votre budget à la première difficulté rencontrée.
					<br><br>
					Soyez optimiste et concentrez vous sur votre objectif de devenir maître de votre budget!
				</h4>
			</div>
			<div class="col-lg-6">
				<img src="images/optimiste.png" alt="Optimiste" width="460" height="238">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2">
				<img src="images/target.png" alt="Notre objectif" width="128" height="128">
			</div>
			<div class="col-lg-10 text-center">
				<h3><strong>Ce site internet est un outil budgétaire conçu pour répondre à votre besoin de budgéter.
				Il vous permet d'établir votre budget et de le suivre au cours du temps.</strong></h3>
				<br>
			</div>
		</div>

</div>
