<?php
	if(isset($mois) && isset($annee)) {
		$moisEnCours = $mois;
		$anneeEnCours = $annee;
	}else{
		$moisEnCours= date('m');
		$anneeEnCours =date('Y');
	}

	$date = new DateTime("$anneeEnCours-$moisEnCours-01");
	$pre = $date->sub(new DateInterval('P1M'));
	$moisPre= $pre->format('m');
	$anneePre= $pre->format('Y');
	$s = $date->add(new DateInterval('P2M'));
	$moisSuiv= $s->format('m');
	$anneeSuiv= $s->format('Y');

?>
<div class="container marketing" style="margin: ">
	<style>
	
		.txt_rouge{
			color: red;
		}
	
	</style>
	<div class="text-center">
		<nav aria-label="Page navigation">
			<ul class="pagination">
				<li>
					<a href="/resultats/<?php echo $anneePre ?>/<?php echo $moisPre ?>" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li><a>Mes résultats pour <?php echo budget::moisEnFr($moisEnCours) ." ".$anneeEnCours ?></a></li>
				<?php if ("$anneeEnCours-$moisEnCours" < date('Y-m')) { ?>
				<li>
					<a href="/resultats/<?php echo $anneeSuiv ?>/<?php echo $moisSuiv ?>" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
				<?php } ?>
			</ul>
		</nav>
	</div>

	<?php
		$sommeR = 0;
		$sommeD = 0;
		$sommeTableau = [];
	?>

	<?php foreach ($categories as $category) {?>
	<div class="well well-md">
		<div class="text-center">
			<?php echo $category->nom ?>
		</div>
	</div>
		<table class="table">
			<?php $somme = 0; ?>
			<?php foreach ($category->getSousCategories() as $sousCategory) {?>
				<?php
				$montant = $sousCategory->getBudget($moisEnCours, $anneeEnCours, $_SESSION['user'])->montant;
				if($montant >0){?>
					<tr>
						<td><?php echo $sousCategory->nom_ss_cat ?></td>
						<td style="text-align : right"><?php echo $montant.'€'?></td>
					</tr>
				<?php }?>
				<?php $somme+=$montant; ?>
			<?php } ?>
			<?php if($category->id_categorie == 1){
				$sommeR = $somme;
			}else {
				$sommeD +=$somme;
			}
			$sommeTableau[$category->id_categorie] = $somme;
			?>
			<tr style="color: black">
				<th><?php echo 'Le total de mes '.$category->nom." est de:" ?></th>
				<th style="text-align : right"><?php echo $somme."€" ?></th>
			</tr>
		</table>
	<?php } ?>
	<?php $solde = $sommeR - $sommeD ; ?>
	<table class="table">
		<tr style="color: green">
			<th>SOLDE (Revenus - Dépenses)</th>
			<th style="text-align : right"><?php echo $solde."€" ?></th>
		</tr>
	</table>

	<br><br>
	<?php //ON EST DANS LA MOYENNE NATIONALE ?
	if($sommeR == 0 && $sommeD == 0){ ?>
		<div class="text-center" style="color : #FAAC58; font-weight : bold">Vous n'avez pas inséré de ressources ou de dépenses pour ce mois-ci.</div>
	<?php } else {
		foreach ($categories as $category) {
			if ($category->id_categorie > 1) {
				if ($sommeR * $category->reference > $sommeTableau[$category->id_categorie]) { ?>
					<div class="text-center">
						<div class="alert alert-success" role="alert" ><strong>Vous n'avez pas de problème du côté de
							vos <?php echo mb_strtolower($category->nom) ?>. Vous pouvez épargner ou dépenser selon vos souhaits!</strong>
						</div>
					</div>
				<?php } else { ?>
					<div class="text-center">
						<div class="alert alert-danger" role="alert">
							<strong>Faîtes attention à vos <?php echo mb_strtolower($category->nom) ?>.</strong></div>
					</div>
				<?php }
			}
		}
	}
	?>
	<div class="row">
		<div class="text-center">
			<h2>Votre budget ce mois-ci : </h2>
		</div>
		<div style="width:500px; height:500px; margin: 25px auto">
			<canvas id="myChart" width="500px" height="500px" style="display:block; width:500px; height:500px"></canvas>
		</div>
		<script src="/js/Chart.js"></script>
		<?php //Je calcul le pourcentage que représentent les différentes dépenses et les ressources finales
		if($sommeR != 0 && count($sommeTableau) >= 4){
			$pourcentageDépensesFixes = $sommeTableau[2]/$sommeR*100;
			$pourcentageDépensesCourantes = $sommeTableau[3]/$sommeR*100;
			$pourcentageDépensesOccasionnelles = $sommeTableau[4]/$sommeR*100;
			if($solde>0) {
				$pourcentageSolde = $solde / $sommeR * 100;
			}else{
				$pourcentageSolde = 0;
			}
		} else {
			$pourcentageDépensesFixes = 0;
			$pourcentageDépensesCourantes = 0;
			$pourcentageDépensesOccasionnelles = 0;
			$pourcentageSolde = 0;
		}

		//Fonction qui donne tous les pourcentages
		function pourcentageRecherché($totalDépensesOuRessources,$sommeR){
			if($totalDépensesOuRessources <= 0 || $sommeR <= 0){
				return 0;
			}
			else{
				return floor($totalDépensesOuRessources/$sommeR*100);
			}
		}
		?>
		<script>
			var depFix = '<?php echo floor($pourcentageDépensesFixes) ?>';
			var depCour = '<?php echo floor($pourcentageDépensesCourantes) ?>';
			var depOcc = '<?php echo floor($pourcentageDépensesOccasionnelles) ?>';
			var solde = '<?php echo floor($pourcentageSolde) ?>';
			var ctx = document.getElementById("myChart");
			var myChart = new Chart(ctx, {
				type: 'doughnut',
				data: {
					labels: ["Dépenses Fixes (%)", "Dépenses Courantes (%)", "Dépenses Ocasionnelles (%)","Solde (%)"],
					datasets: [{
						label: '# of Votes',
						data: [depFix, depCour, depOcc, solde],
						backgroundColor: [
							'rgba(0, 0, 255, 0.5)',
							'rgba(57, 148, 255, 0.5)',
							'rgba(57, 255, 255, 0.5)',
							'rgba(235, 229, 22, 0.5)'
						],
						borderColor: [
							'rgba(0, 0, 255, 1)',
							'rgba(57, 148, 255, 1)',
							'rgba(57, 255, 255, 1)',
							'rgba(235, 229, 22, 1)'
						],
						borderWidth: 1
					}]
				}
			});
		</script>
	</div>
</div>